.container {
  margin: 0;
}

.navbar {
  margin: 0;
  width: 100%;
  background: #241d00;
}

.logo {
  padding: 1rem 1rem;
  margin: 0 0 1rem 0;
}

.main {
  width: 950px;
  height: 1900px;
  margin: 0 auto;
}

.card {
  display: inline-flex;
  width: 100%;
  border: 2px solid #cebfb1;
}
.cardImg {
  margin-right: 2rem;
}

.cardDesctiption {
  padding-top: 2rem;
}

.desctiptionData {
  color: rgb(39, 18, 0)
}